#home-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
#home-content img {
    width: 35%;
    height: 80%;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    #home-content img {
        width: 90%;
    }
}
